In this module, there are 2 parts will be discussed:
1. Flow Control with Decisions and Loops
2. Troubleshooting and Error Handling

# Part 1 : Flow Control with Decisions and Loops

# For

- For is a function that can loop over each type of variable in the form of a collection or sequence (list, string, or range).
- If a list or sequence contains an expression, it will evaluate it first.
- Then the first item in the sequence/list will be assigned as an iterating_var variable, and then it will continue to the next item until it runs out.

In [ ]:
color = ['White', 'Yellow', 'Green', 'Brown', 'Black']

for _ in color:
  print("The color is {}".format(_))

The color is White
The color is Yellow
The color is Green
The color is Brown
The color is Black

**Else After For**

The else function after for is a function that takes precedence over search loops to provide a way out of the program when the search is not found

In [ ]:
for i in range(1,8):
    if i% 2 == 1:
       print("{} adalah bilangan ganjil".format(i))
       continue
    else:
        print("{} adalah bukan bilangan ganjil".format(i))

1 adalah bilangan ganjil
2 adalah bukan bilangan ganjil
3 adalah bilangan ganjil
4 adalah bukan bilangan ganjil
5 adalah bilangan ganjil
6 adalah bukan bilangan ganjil
7 adalah bilangan ganjil

**Nested Loop**

A nested loop is a loop inside the body of the outer loop. The inner or outer loop can be any type, such as a while loop or for loop. For example, the outer for loop can contain a while loop and vice versa.

Example of making a pattern in the shape of the letter "C"

In [ ]:
for row in range(4):
  for col in range(4):
    if row == 0 and col <= 3:
      print("*", end = " ")
    elif row == 1 and col == 0:
      print("*", end = " ")
    elif row == 2 and col == 0:
      print("*", end = " ")
    elif row == 3 and col <= 3:
      print("*", end = " ")

  print()

* * * *
*
*
* * * *

# While

- While in Python is used to execute statements as long as the condition as long as the test expression (condition) is true.
- The condition can be any expression and includes all non-zero values.
- When the condition becomes False, the program will continue to the line after the statement block.

In [ ]:
number = int(input())

while (number < 5): # executed number cannot be more than 5
  number =  number**2 # executed number will be squared
  print('number {}'.format(number))

2
number 4
number 16

**Else After While**

In the while statement, the else blok statement will always be executed when the while condition is false

In [ ]:
number = int(input())

while (number<20):
  number = number + 2
  print(number)
else :
  print("loop completed")

2
4
6
8
10
12
14
16
18
20
loop completed

# Break

- The break statement ends the loop containing it. Program control flows to the statement immediately after the loop body.

- If the break statement is inside a nested loop (a loop inside another loop), the break statement ends the loop according to the level or in which loop it is.

In [ ]:
for number in range(15): # Constructs the variable number is less than 15.
  if number == 7:
    break # Integer will be breaks when it equivalent 7
  print("Number is {}".format(number)) # .format to enter variable number

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6

In [ ]:
for marvel in "Avengers: Endgame":
  if marvel == ":":
    break
  print(marvel, end = "")

Avengers

# Continue

- The continue statement is used to skip the rest of the code (statement) inside a loop for the current iteration only. 
- Loop does not terminate but continues on with the next iteration.

In [ ]:
sentence = "I want to eat something"
vokal = ['a','i','u','e','o']

for word in sentence:
  if word in vokal:
    continue
  print(word)

I

w
n
t

t

t

s
m
t
h
n
g

In [ ]:
sentence = "I want to eat something"
vokal = ['a','i','u','e','o']

for word in sentence:
  if word in vokal:
    continue
  print(word, end = " ") #end makes the sentence print sideways, the original sentence will be printed down

I   w n t   t   t   s m t h n g

# Pass

*   The pass statement is used as a placeholder for future code.
*   When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed.
-  The pass statement is a null(empty) operation, nothing happens when the pass is executed.

In [ ]:
import sys

x = ''

while(x != "close"):
  try:
    x = (input("peroleh: "))
    print('dapat angka {}'.format(int(x)))
  except:
    if x == "close":
        pass
    else:
        print('dapat error {}'.format(sys.exc_info()[0]))

peroleh: 1
dapat angka 1
peroleh: 3
dapat angka 3
peroleh: 5
dapat angka 5
peroleh: close

# List Comprehension

List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

In [ ]:
numbers = [3,5,6,8,10]

In [ ]:
squared = []

In [ ]:
for x in numbers:
  squared.append(x**3)
print(squared)

[27, 125, 216, 512, 1000]

You can also write list comprehensions in the following way :

new_list = [expression for loop_one_or_more_conditions]

In [ ]:
abc = ['a','b','c']
cde = ['c','d','e']

duplicate = [i for i in abc for j in cde if i == j]

print(duplicate)

['c']

we can also add upper() function to list comprehension

In [ ]:
data = ["data","analysis"]

upper = [_.upper() for _ in data]

print(upper)

['DATA', 'ANALYSIS']

# List Comprehension (List With Inline Loop and If)

In [ ]:
Animals = []

for x in 'Zebra':
    Animals.append(x)

print(Animals)

['Z', 'e', 'b', 'r', 'a']

You can also modify the syntax so it can be like this

In [ ]:
Animals = [ x for x in 'Chicken' ]
print(Animals)

['C', 'h', 'i', 'c', 'k', 'e', 'n']

- Inline Loop and If

In [ ]:
number_list = [ x for x in range(10) if x % 2 == 0] #will be show numbers in range from 0-9 if the numbers value is divisible by 2.
print(number_list)

[0, 2, 4, 6, 8]

In [ ]:
number = [y for y in range(50) if y % 2 == 0 if y % 5 == 0] #will be show numbers in range 0-49 if the numbers value is divisible by 2 and then divisible by 5
print(number)

[0, 10, 20, 30, 40]

# Part 2 : Troubleshooting and Error Handling

There are two types of errors in phyton:
1. Syntax Errors,
2. Exceptions

# Syntax Error

It usually happens when python does not understand what you are commanding and generally in people are still just learning python.

the following example will show one of the errors that is the incorrect placement of the indent

In [ ]:
for x in "Data Science Track with MyEduSolve":
print(x)

IndentationError: ignored

The following example shows syntax writing errors

In [ ]:
while True print('Hello world')

SyntaxError: ignored

In [ ]:
print('Hello World")

SyntaxError: ignored

# Exceptions

Exceptions can occur when an error occurs when the command we entered is executed and will be fatal if not addressed immediately.

A simple example of this error when we forget to specify a variable but we call the variable

In [ ]:
print(task)

NameError: ignored

Next example when we operate between integer type variables with strings

In [ ]:
nilai = "5"
nilai + 3

TypeError: ignored

# Exception Handling

The exception handling process uses a try statement paired with except. For example we want to handle an exception that occurs if there is a division of a number by the value 0 (0)

In [ ]:
x = 0

In [ ]:
bagi = 0/0

ZeroDivisionError: ignored

In [ ]:
x = 0

try:
  bagi = 0/0
  print(bagi)
except ZeroDivisionError:
  print("tidak bisa dibagi dengan nol")

tidak bisa dibagi dengan nol

ZeroDivisionError is an exception that occurs when program execution results in a mathematical calculation of division by zero

In [ ]:
open("file metematika.py")

FileNotFoundError: ignored

In [ ]:
try:
  with open("file metematika.py") as file:
    print(file.read())
except FileNotFoundError: 
  print("File tidak ditemukan")

File tidak ditemukan

In [ ]:
try:
  with open("file_matematika.py") as file:
    print(file.read())
except (FileNotFoundError, ):
  print("file tidak dapat ditemukan")

file tidak dapat ditemukan

With a pair of try and except statements, the application does not stop but prints on the screen that the file was not found

In [ ]:
s = {'nilai un':'90.0'}

In [ ]:
print('nilai un:{}'.format(s['nilae un']))

KeyError: ignored

In [ ]:
s = {'nilai un' : '90.0'}

try:
  print('nilai un:{}'.format(s['nilae un']))
except KeyError:
  print('Kata kunci salah')
except ValueError:
  print('Tidak ditemukan')

Kata kunci salah

In more complex applications, exception handling can use a single except statement that handles more than one type of error concatenated in a tuple.

In [ ]:
m = {'operasi matematika': '678+9'}

print('operasi matematika: {}'.format(m['operasimatematika']/4))

KeyError: ignored

In [ ]:
m = {'operasi matematika': '678+9'}

try:
  print('operasi matematika: {}'.format(m['operasimatematika']/4))D
except KeyError:
  print('hasil tidak ditemukan/error')
except (ValueError, TypeError):
  print('nilai atau tipe tidak sesuai')

hasil tidak ditemukan/error

In [ ]:
m = {'operasi matematika': '678+9'}

try:
  print('pembulatan operasi metematika: {}'.format(int(m['operasi matematika'])))
except (ValueError, TypeError) as e:
  print('penanganan kesalahan: {}'.format(e))

penanganan kesalahan: invalid literal for int() with base 10: '678+9'

#Function
A function is a block of code that only runs when it is called. Python functions return a value using a return statement, if one is specified. A function can be called anywhere after the function has been declared.

In [ ]:
def square_root(x):
    result = x**(1/2)
    return result

In [ ]:
square_root(25)

5.0

#Return

Return expression will make program execution exit the function

In [ ]:
def addition(x,y):
    plus = x + y
    print(f"The result of the sum of {x} and {y} is {plus}")
    return plus

In [ ]:
addition(5, 3)

The result of the sum of 5 and 3 is 8

8

In [ ]:
output = addition(5, 3) #save the result into a variable
print(f"The result from return is {output}")

The result of the sum of 5 and 3 is 8
The result from return is 8

In [ ]:
square_root(16)

4.0

In [ ]:
num = 16
result = square_root(num) # A function can accept a value that has been stored in a variable
print(f"Square root of {num} is {result}")

Square root of 16 is 4.0

##Pass by reference vs value
* All parameters (arguments) in the python language are "passed by reference". This means that when we change a variable, the data that refers to it will also change, both inside the function and outside the calling function.

* Unless we perform an assignment operation that changes the reference parameter.

In [ ]:
def number(list_num):
    list_num = [2, 4, 6]
    print(f'List value in local function is {list_num}')

list_num = [1, 3, 5]
number(list_num)
print(f'List value outside the function (global) is {list_num}')

List value in local function is [2, 4, 6]
List value outside the function (global) is [1, 3, 5]

In [ ]:
def number(list_num):
    list_num = [2, 4, 6]
    list_num.extend ([1, 3, 5]) #input the odd number
    print(f'List value in local function is {list_num}')

list_num = [1, 3, 5]
number(list_num)
print(f'List value outside the function (global) is {list_num}')

List value in local function is [2, 4, 6, 1, 3, 5]
List value outside the function (global) is [1, 3, 5]

##Argumen and Parameter


Arguments that can be passed to the function. 

As values ​​to be entered when the function is called, there are two types of arguments:
* **Keyword Arguments**, namely arguments that are accompanied by an identifier or parameter name that is explicitly stated. This includes if we pass values ​​through a dictionary that begins with two *(**)

In [ ]:
def  birthday (day, month, year):
    date = f"I was born on {day} {month} {year}"
    return date

birthday (day=2, month='April', year=2000)

'I was born on 2 April 2000'